<div class="datepicker-wrapper">
  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      placeholder="Choose a date"
      [formControl]="dateControl"
      [min]="minDate"
      [max]="maxDate"
      [disabled]="disabled"
    />
    <ngx-mat-datepicker-toggle
      matSuffix
      [for]="picker"
    ></ngx-mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #picker
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [enableMeridian]="enableMeridian"
      [disableMinute]="disableMinute"
      [hideTime]="hideTime"
      [color]="color"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>
</div>
<h4>Selected date: {{ dateControl.value?.toLocaleString() }}</h4>
